@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

html,
body {
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  background-color: #0c0c1e;
  color: #888ea4;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a:link,
a:active,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #615cff;
}

a:hover {
  text-decoration: underline;
  color: #8783ff;
}
